* {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header {
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-weight: 900;
  font-size: 32px;
  margin: 1px;
}

footer {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-weight: 900;
  font-size: 32px;
  margin: 1px;
}

.box-1,.box-2,.box-3 {
    background-color: orangered;
    height: 80vh;
    font-weight: 900;
    font-size: 32px;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1 {
    flex-basis: 20%;
}

.box-2 {
    flex-basis: 60%;
}

.box-3 {
    flex-basis: 20%;
}

